app/api/file_ops/01-January-2025-Agenda-ocr.pdf
app/api/file_ops/Agenda/01-January-2022-Agenda-ocr.pdf
app/api/file_ops/Agenda/01-January-2022-Agenda-Reorg-ocr.pdf
app/api/file_ops/Agenda/01-January-2023-Agenda-ocr.pdf
app/api/file_ops/Agenda/01-January-2024-Agenda-ocr.pdf
app/api/file_ops/Agenda/01-January-2024-Agenda-Reorg-ocr.pdf
app/api/file_ops/Agenda/01-January-2025-Agenda-ocr.pdf
app/api/file_ops/Agenda/02-February-2022-Agenda-ocr.pdf
app/api/file_ops/Agenda/02-February-2023-Agenda-ocr.pdf
app/api/file_ops/Agenda/02-February-2024-Agenda-ocr.pdf
app/api/file_ops/Agenda/02-February-2025-Agenda-ocr.pdf
app/api/file_ops/Agenda/03-March-2022-Agenda-ocr.pdf
app/api/file_ops/Agenda/03-March-2023-Agenda-ocr.pdf
app/api/file_ops/Agenda/03-March-2024-Agenda-ocr.pdf
app/api/file_ops/Agenda/03-March-2025-Agenda-ocr.pdf
app/api/file_ops/Agenda/04-April-2022-Agenda-ocr.pdf
app/api/file_ops/Agenda/04-April-2023-Agenda-ocr.pdf
app/api/file_ops/Agenda/04-April-2024-Agenda-ocr.pdf
app/api/file_ops/Agenda/04-April-2025-Agenda-ocr.pdf
app/api/file_ops/Agenda/05-May-2022-Agenda-ocr.pdf
app/api/file_ops/Agenda/05-May-2023-Agenda-ocr.pdf
app/api/file_ops/Agenda/05-May-2023-Agenda-Special-A-ocr.pdf
app/api/file_ops/Agenda/05-May-2023-Agenda-Special-B-ocr.pdf
app/api/file_ops/Agenda/05-May-2024-Agenda-ocr.pdf
app/api/file_ops/Agenda/05-May-2024-Agenda-Special-ocr.pdf
app/api/file_ops/Agenda/06-June-2022-Agenda-ocr.pdf
app/api/file_ops/Agenda/06-June-2023-Agenda-ocr.pdf
app/api/file_ops/Agenda/06-June-2024-Agenda-ocr.pdf
app/api/file_ops/Agenda/06-June-2024-Agenda-Special-ocr.pdf
app/api/file_ops/Agenda/07-July-2022-Agenda-ocr.pdf
app/api/file_ops/Agenda/07-July-2023-Agenda-ocr.pdf
app/api/file_ops/Agenda/07-July-2024-Agenda-ocr.pdf
app/api/file_ops/Agenda/08-August-2023-Agenda-ocr.pdf
app/api/file_ops/Agenda/09-September-2022-Agenda-ocr.pdf
app/api/file_ops/Agenda/09-September-2022-Agenda-Special-A-ocr.pdf
app/api/file_ops/Agenda/09-September-2023-Agenda-ocr.pdf
app/api/file_ops/Agenda/09-September-2024-Agenda-ocr.pdf
app/api/file_ops/Agenda/10-October-2022-Agenda-ocr.pdf
app/api/file_ops/Agenda/10-October-2023-Agenda-ocr.pdf
app/api/file_ops/Agenda/10-October-2024-Agenda-ocr.pdf
app/api/file_ops/Agenda/11-November-2022-Agenda-ocr.pdf
app/api/file_ops/Agenda/11-November-2023-Agenda-ocr.pdf
app/api/file_ops/Agenda/11-November-2023-Agenda-Special-ocr.pdf
app/api/file_ops/Agenda/11-November-2024-Agenda-ocr.pdf
app/api/file_ops/Agenda/12-December-2022-Agenda-ocr.pdf
app/api/file_ops/Agenda/12-December-2023-Agenda-ocr.pdf
app/api/file_ops/Agenda/12-December-2024-Agenda-ocr.pdf
app/api/file_ops/Agenda/desktop.ini
app/api/file_ops/Meeting Minutes/01-January-2022-Minutes-ocr.pdf
app/api/file_ops/Meeting Minutes/01-January-2022-Minutes-Reorg-ocr.pdf
app/api/file_ops/Meeting Minutes/01-January-2024-Minutes-ocr.pdf
app/api/file_ops/Meeting Minutes/01-January-2024-Minutes-Reorg-ocr.pdf
app/api/file_ops/Meeting Minutes/01-January-2025-Minutes-ocr.pdf
app/api/file_ops/Meeting Minutes/02-February-2022-Minutes-ocr.pdf
app/api/file_ops/Meeting Minutes/02-February-2023-Minutes-ocr.pdf
app/api/file_ops/Meeting Minutes/02-February-2024-Minutes-ocr.pdf
app/api/file_ops/Meeting Minutes/02-February-2025-Minutes-ocr.pdf
app/api/file_ops/Meeting Minutes/03-March-2022-Minutes-ocr.pdf
app/api/file_ops/Meeting Minutes/03-March-2023-Minutes-ocr.pdf
app/api/file_ops/Meeting Minutes/03-March-2024-Minutes-ocr.pdf
app/api/file_ops/Meeting Minutes/04-April-2022-Minutes-ocr.pdf
app/api/file_ops/Meeting Minutes/04-April-2023-Minutes-ocr.pdf
app/api/file_ops/Meeting Minutes/04-April-2024-Minutes-ocr.pdf
app/api/file_ops/Meeting Minutes/05-May-2022-Minutes-ocr.pdf
app/api/file_ops/Meeting Minutes/05-May-2023-Minutes-ocr.pdf
app/api/file_ops/Meeting Minutes/05-May-2023-Minutes-Special-A-ocr.pdf
app/api/file_ops/Meeting Minutes/05-May-2023-Minutes-Special-B-ocr.pdf
app/api/file_ops/Meeting Minutes/05-May-2023-Minutes-Special-C-ocr.pdf
app/api/file_ops/Meeting Minutes/05-May-2023-Minutes-Special-D-ocr.pdf
app/api/file_ops/Meeting Minutes/05-May-2024-Minutes-ocr.pdf
app/api/file_ops/Meeting Minutes/05-May-2024-Minutes-Special-A-ocr.pdf
app/api/file_ops/Meeting Minutes/05-May-2024-Minutes-Special-B-ocr.pdf
app/api/file_ops/Meeting Minutes/06-June-2022-Minutes-ocr.pdf
app/api/file_ops/Meeting Minutes/06-June-2023-Minutes-ocr.pdf
app/api/file_ops/Meeting Minutes/06-June-2024-Minutes-ocr.pdf
app/api/file_ops/Meeting Minutes/06-June-2024-Minutes-Special-A-ocr.pdf
app/api/file_ops/Meeting Minutes/07-July-2022-Minutes-ocr.pdf
app/api/file_ops/Meeting Minutes/07-July-2023-Minutes-ocr.pdf
app/api/file_ops/Meeting Minutes/07-July-2024-Minutes (1)-ocr.pdf
app/api/file_ops/Meeting Minutes/07-July-2024-Minutes-ocr.pdf
app/api/file_ops/Meeting Minutes/08-August-2022-Minutes-ocr.pdf
app/api/file_ops/Meeting Minutes/08-August-2023-Minutes-ocr.pdf
app/api/file_ops/Meeting Minutes/08-August-2024-Minutes-ocr.pdf
app/api/file_ops/Meeting Minutes/09-September-2022-Minutes-ocr.pdf
app/api/file_ops/Meeting Minutes/09-September-2023-Minutes-ocr.pdf
app/api/file_ops/Meeting Minutes/09-September-2024-Minutes-ocr.pdf
app/api/file_ops/Meeting Minutes/10-October-2022-Minutes-ocr.pdf
app/api/file_ops/Meeting Minutes/10-October-2023-Minutes-ocr.pdf
app/api/file_ops/Meeting Minutes/10-October-2024-Minutes-ocr.pdf
app/api/file_ops/Meeting Minutes/11-November-2022-Minutes-ocr.pdf
app/api/file_ops/Meeting Minutes/11-November-2023-Minutes-ocr.pdf
app/api/file_ops/Meeting Minutes/11-November-2023-Minutes-Special-A-ocr.pdf
app/api/file_ops/Meeting Minutes/11-November-2024-Minutes-ocr.pdf
app/api/file_ops/Meeting Minutes/12-December-2022-Minutes-ocr.pdf
app/api/file_ops/Meeting Minutes/12-December-2023-Minutes-ocr.pdf
app/api/file_ops/Meeting Minutes/12-December-2024-Minutes-A-B-ocr.pdf
app/api/file_ops/Meeting Minutes/desktop.ini
app/api/file_ops/Misc/BoroughMayorsManual_2016v2-ocr.pdf
app/api/file_ops/Misc/Local Government Commision-ocr.pdf
app/api/file_ops/Misc/Newly Elected Official Guide-ocr.pdf
app/api/file_ops/Misc/PA-Citizen-Guide-to-Local-Govt-ocr.pdf
app/api/file_ops/Misc/The Borough Handbook-ocr.pdf
app/api/file_ops/Misc/Title 8-ocr.pdf
app/api/file_ops/Ordinaces/01-Administration-Government Ordinance.pdf
app/api/file_ops/Ordinaces/02-Animals Ordinance.pdf
app/api/file_ops/Ordinaces/03-Bicycles Ordinance.pdf
app/api/file_ops/Ordinaces/04-Buildings Ordinance.pdf
app/api/file_ops/Ordinaces/05-Code-Enforcement Ordinance.pdf
app/api/file_ops/Ordinaces/05-Code-Enforcement-Panhandling Ordinance.pdf
app/api/file_ops/Ordinaces/06-Conduct Ordinance.pdf
app/api/file_ops/Ordinaces/07-Fire-Prevention-Protection Ordinance.pdf
app/api/file_ops/Ordinaces/08-Floodplain-Regulations Ordinance.pdf
app/api/file_ops/Ordinaces/09-Grading-Excavation Ordinance.pdf
app/api/file_ops/Ordinaces/10-Health-Safety Ordinance.pdf
app/api/file_ops/Ordinaces/11-Housing Ordinance.pdf
app/api/file_ops/Ordinaces/12-Libraries Ordinance.pdf
app/api/file_ops/Ordinaces/13-Licenses-Permits-General-Business-Regulations Ordinance.pdf
app/api/file_ops/Ordinaces/14-Mobile-Homes-Mobile-Home-Parks Ordinance.pdf
app/api/file_ops/Ordinaces/15-Motor-Vehicles Ordinance.pdf
app/api/file_ops/Ordinaces/16-Parks-and-Recreation Ordinance.pdf
app/api/file_ops/Ordinaces/17-Planned-Residential-Development Ordinance.pdf
app/api/file_ops/Ordinaces/18-Sewage-Sewage-Removal Ordinance.pdf
app/api/file_ops/Ordinaces/19-Signs-Billboards Ordinance.pdf
app/api/file_ops/Ordinaces/20-Solid-Wastes Ordinance.pdf
app/api/file_ops/Ordinaces/21-Sidewalks-Streets Ordinance.pdf
app/api/file_ops/Ordinaces/22-Subdivision-Land-Development Ordinance.pdf
app/api/file_ops/Ordinaces/23-Swimming-Pools Ordinance.pdf
app/api/file_ops/Ordinaces/25-Trees Ordinance.pdf
app/api/file_ops/Ordinaces/27-Zoning-Map Ordinance.pdf
app/api/file_ops/Ordinaces/27-Zoning-Part-1 Ordinance.pdf
app/api/file_ops/Ordinaces/27-Zoning-Part-2 Ordinance.pdf
app/api/file_ops/Ordinaces/Appendix Ordinance.pdf
app/api/file_ops/Ordinaces/Chapter-Key Ordinance.pdf
app/api/file_ops/Ordinaces/General-Code-Instructions Ordinance.pdf
app/api/file_ops/Ordinaces/Index Ordinance.pdf
