aiofiles
fastapi
httpx
openai
psycopg2-binary
pydantic
python-docx
python-dotenv
python-multipart
pytesseract
requests
striprtf
supabase
uvicorn
numpy
tiktoken>=0.5.1
pdfdocument
nltk
pdfplumber
rq
redis
mammoth
fpdf
pymupdf
