aiofiles
fastapi
httpx
openai
psycopg2-binary
pydantic
python-docx
python-dotenv
python-multipart
pytesseract
pdf2image
requests
striprtf
supabase
uvicorn
numpy
tiktoken>=0.5.1
pdfdocument
nltk
pdfplumber
mammoth
fpdf
pymupdf
llama-index[pgvector]
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
pypdf

